$font-stack: 'Roboto', sans-serif;
.before-account {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font-stack;
    text-align: right;
}

.account {
    font-size: 10px;
    color: #8D8D8D;
}

.outcome {
    font-size: 25px;
}